{% extends 'base.html' %}

{% block content %}
    <div id="wrapper" class="container mx-auto px-4 py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for product in products %}
            <div class="max-w-sm rounded overflow-hidden border-4 border-green-500">
                <img class="w-full" src="data:{{ product.mimetype }};base64,{{ product.img | custom_b64encode }}" alt="{{ product.imgname }}">
                <div class="px-6 py-4">
                    <p class="font-bold text-xl mb-2">{{ product.navn }}</p>
                    <p class="text-gray-700 text-base">{{ product.beskrivelse }}</p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}